<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>AI Sonnets</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Vendor CSS Files -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css') }}">
        <link href="{{ url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">

        <!-- Local CSS Files -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">

    </head>

    <body>
  <!-- ======= Header ======= -->
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class=" container container-fluid d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <i class="bi bi-book"></i>
                <h1>AI Sonnets</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/generate" class="active"">Generate</a></li>
                </ul>
            </nav><!-- .navbar -->

            <div class="header-social-links">
                <a href="https://twitter.com/kaychallayy" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://instagram.com/kaychallay" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://linkedin.com/in/rithuraj-nambiar" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            </div>
        </header><!-- End Header -->

        <main id="main" data-aos="fade" data-aos-delay="1500">

            <!-- ======= End Page Header ======= -->
            <div class="page-header d-flex align-items-center">
                <div class="container">
                    <center>
                        <h1>Generating AI Sonnets</h1><br>
                    </center>
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                            <form action="{{ url_for('generate') }}" method="POST" enctype="multipart/form-data">
                                <input class="form-control" type="text" name="seedText"/><br>
                                <center>
                                    <a class="btn-get-started" type="submit" >
                                        <button type="submit" class="btn btn-bg">Generate</button>
                                    </a><br><br>
                                </center>
                            </form>
                            <!-- Converting the output in string to sentences using punctuation-->
                            {%for i in output%}
                                <p>{{i}}<p>
                            {%endfor%}
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div><!-- End Page Header -->
        </main>

        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <script src="{{ url_for('static', filename = 'vendor/glightbox/js/glightbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>